<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LitoPredict</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>

<form method=post enctype=multipart/form-data>
            <div class="login">
            <div class="login-screen">
            <div class="app-title">
            <h1>LitoPredict</h1>
            </div>
            <div class="login-form">
            <div class="control-group">
                            <input type="file" class="login-field" name=file required>
            <label class="login-field-icon fui-user" for="login-name"></label></div>
            <div class="control-group">
                            <input type="number" class="login-field" value="" placeholder="DTc" name="DTc" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <div class="control-group">
                            <input type="number" class="login-field" value="" placeholder="DTs" name="DTs" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <div class="control-group">
                         <input type="number" class="login-field" value="" placeholder="RHOB" name="RHOB" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <div class="control-group">
                        <input type="number" class="login-field" value="" placeholder="GR" name="GR" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <div class="control-group">
                        <input type="number" class="login-field" value="" placeholder="Header Lines" name="header" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            <input type="submit" value="Upload" class="btn btn-primary btn-large btn-block"><br><br>
            
            Optional:<br>
            <div class="control-group">
                <input type="number" class="login-field" value="" placeholder="MD Column" name="mds">
            <label class="login-field-icon fui-lock" for="login-pass"></label></div>
            *MD will not be in output unless specified.

            </div>
            </div>
            </div>


</form>
</body>
</html>

